// text
.text_right {
  text-align: right;
}
.font-size10{
  font-size: 10px;
}
.font-size14 {
  font-size: 14px;
}
.font-size12 {
  font-size: 12px;
}
.font-size8 {
  font-size: 8px;
}
.font_size16 {
  font-size: 16px;
}
.font-size20 {
  font-size: 20px !important;
}
//color
.color_909399 {
  color: #909399;
  
}
.color_556270 {
  color: #556270;
}
.font_weight_bold {
  font-weight: bold
}
// margin
.margin_left_46 {
  margin-left: -46px;
}
.margin_right_10 {
  margin-right: 10px;
}
.margin_right_4 {
  margin-right: 4px;
}
.margin_right_20 {
  margin-right: 20px;
}
.margin-top3 {
  margin-top: 3px;
}
.margin-bottom10 {
  margin-bottom: 10px !important;
}
.margin-bottom30 {
  margin-bottom: 30px;
}
.margin-bottom40 {
  margin-bottom: 40px;
}
//padding
.padding-bottom2 {
  padding-bottom: 2px;
}
.padding_left_20 {
  padding-left: 20px;
}
// flex
.flexStart {
  display: flex;
}
.flex-flow-reverse {
  flex-flow: row-reverse;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

// element 重置样式
.el-table::before {
  height: 0;
}
.el-card.is-always-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 122, 255, 0.08);
}
// 不嵌套左菜单 居中样式

.noSidebar_cont {
  margin: 0 auto;
  width: 1000px;
}